@charset "utf-8";

/*importando fontes externas do google fontes*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS&display=swap');

/*variáveis css globais*/
:root{ 
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive; /*usar aspas na fonte importada (interna ou externa)*/
    --font3: 'Playwrite IS', cursive; 
    /*fontes locais usam @font-face e externas usam @import*/
}

/*estilos globais*/
*{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

/*estilos por seletor*/
body,html{
    background-color: darkgray;
}
header, footer{
    text-align: center;
    /*text-transform: uppercase; fonte maiuscula*/
    background-color:black;
    color: white;
    padding: 20px;
    margin: -10px;
}
header h1{
    padding-top: 50px;
    font-family: var(--font2);
    font-variant: small-caps; /*define a fonte maiúscula, com as minúsculas em formato maiúsculo pequeno*/
    font-size: 10vw; /* define a fonte com tamanho de 10% da largura (width) da tela (viewport)*/
}
header p, header a{
    font-family: var(--font1);
    padding-bottom: 50px;
    font-size:2.3vw;
}
a{ 
    text-decoration: none;
    color: white;    
    font-weight: bolder;
}
header a:hover, footer a:hover{ 
    /*
      header > a -> seleciona todos os links que são filhos diretos de header.
      header a   ->  seleciona todos os links filhos de header, mesmo que sejam indiretos(que possuem outro conteinei pai entre o header).
    */
    text-decoration: underline;
}
section{
    /*vh === view height, vw === view width*/

    padding-top: 10vh; /*o padding-top é variavel e igual a 10% da altura da tela(viewport)*/
    padding-bottom: 10vh; /*o padding-bottom é variavel e igual a 10% da altura da tela.*/
    padding-left: 10vw; /* padding tem tamanho de 10% da largura da tela.*/
    line-height: 40px; /*espaçamento abaixo das letras é fixo com 40px.*/
    font-family: var(--font3);
    font-size: 10vw; /*a fonte das section tem o 2% da largura da tela(viewport)*/
    font-weight: bolder; 
}
section.common-sec{
    background-color: white;
}
section.image-sec{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
    box-shadow: inset 1px 1px 10px 1px #000000cc; /*inset aplica a sombra dentro da caixa*/
}
section.image-sec p{
    background-color: #00000059;
    display: inline-block; /*faz a largura da caixa se adatar ao tamanho do conteúdo, mas se mantendo comportamento de bloco(um abaixo do outro)*/
    padding: 10px;
    font-weight: normal;

}
section#sec2{
    background-image: url('pacote-d012/imagens/background001.jpg');
   
}
section#sec4{
    background-image: url('pacote-d012/imagens/background002.jpg');
}
footer p, footer a{
    font-family: var(--font1);
    font-size: 15px;
}

