@charset "UTF-8";

@font-face{
    font-family: 'pixel Maior';
    src: url('fonts/pixel maior.ttf')
    format('truetype');
}
@font-face{
    font-family: 'pixel Menor';
    src: url('fonts/pixel menor.TTF')
    format('truetype');
}

body{
    background-image: linear-gradient(to bottom,#146551b7, #589A8D 5%, #8FC1B5);
    
    /*background-color: rgb(162, 197, 139);*/
    font-family: Helvetica, sans-serif;
}
h1{
    color: #265C4B;
    font: normal 40px 'pixel Menor';
}
#h1-principal{
    text-align: center; /*text-align: center; centraliza o texto */
    background-color: rgba(234, 253, 240, 0.63);
    border-radius: 10px;
    margin-top: 25px; 
  
    width: 600px; /*largura*/
    padding: 10px; /*padding espaçamento interno*/
    margin: auto; /*margin: auto; centraliza o elemento no meio da página*/

    box-shadow: 2px 3px 2px #265c4bd3;
    text-shadow: 2px 2px 1px rgba(79, 107, 79, 0.356);
    font: normal 18px 'pixel Maior';
    /*
      id="" em CSS é #
      class="" em CSS é . 
    */    
}
#página{
    background-color: #c9f1e8;
    width: 600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #265C4B;
}
h2{
    color:#334640;
    margin-left: 20px;
}
.básico{
  color: rgb(59, 126, 59);
}
.intermediário{
  color: rgb(187, 187, 40);
}
.avançado{
  color: rgb(146, 43, 43);
}
p{
    margin-left: 40px;
    color:rgb(39, 54, 39);
    padding: 5px;
    margin-right: 40px;
    margin-bottom: 35px;
    text-align: justify;
}
.destaque-h1{
    background-color: rgba(209, 208, 133, 0.39);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgba(124, 124, 72, 0.534);
}
.espaç-h1{
    margin-left: 10px;
}
#aula-pdf{
    background-color:  rgba(209, 208, 133, 0.39);
    box-shadow: 2px 2px 2px rgba(124, 124, 72, 0.466);
    width: 200px;
    padding: 2px;
    margin: auto;
    text-align: center;
}
#clique-aqui{
    text-align: center;
    font-family: 'pixel Menor';
    font-size: 30px;
    color: #265C4B;
}
#aviso{
    font: normal 25px 'pixel Menor';

}